<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Larry's Portfolio</title>
</head>
<body>
    <main>
        <h2>About Me</h2>
        <p>I'm a passionate web developer with a 30-year career dedicated to crafting innovative and user-centric web experiences. My journey began with a strong foundation in Computer Science, which instilled in me a love for problem-solving and a meticulous approach to code. Throughout my career, I've honed my skills in various areas of web development, constantly seeking out new technologies and best practices to stay ahead of the curve.</p>
        <h4>Education</h4>
        <ul>
            <li>
                Bachelor of Science in Computer Science, Yale University, 1992
            </li>
        </ul>
        <h4>Skills</h4>
        <ul>
            <li>Front-End Development:
                <ul>
                    <li>HTML & CSS</li>
                    <li>JavaScript</li>
                    <li>Responsive Design</li>
                    <li>Web Accessibility</li>
                </ul>
            </li>
        <li>Back-End Development:
                <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                </ul>
            </li>
        <li>Mobile Development:
                <ul>
                    <li>React Native</li>
                    <li>Flutter</li>
                </ul>
            </li>
        </ul>
        <h4>Achievements</h4>
        <ul>
            <li>Successfully built and launched 20 web projects for clients across diverse industries, resulting in increased user engagement.</li>
            <li>Developed a reusable UI component library that streamlined the development process for a project I worked on and saved 20% development time.</li>
            <li>Received the "Best Web Developer" award at the 2020 Web Development Conference for my innovative approach to web design and development.</li>
        </ul>
    </main>
</body>
</html>
