<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Larry's Portfolio</title>
</head>
<body>
  <main>  
    
    <h2>Contact</h2>
    <p>Feel free to reach out to Larry using the following methods:</p>
    <ul>
      <li>Email: <a href="mailto:larry.webdev@randomtechcompany.com">larry.webdev@randomtechcompany.com</a></li>
      <li>Phone: (123) 456-7890</li>
      <li>Social Media: Instagram - @larrybestwebdev</li>
        <ul>
          <li><a href="https://www.linkedin.com/in/larry-webdev">LinkedIn</a></li>
          <li><a href="https://github.com/larrywebdev">GitHub</a></li>
          </ul>
    </ul>
  </main>
</body>
</html>
